export LOAN_DB_URL="jdbc:mysql://localhost:3306/loan_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true"
export LOAN_DB_USER="loan_user"
export LOAN_DB_PASS="loan_pass"

export INVENTORY_DB_URL="jdbc:mysql://localhost:3306/inventory_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true"
export INVENTORY_DB_USER="inventory_user"
export INVENTORY_DB_PASS="inventory_pass"

export CONFIG_REPO_PATH="file:///C:/....../Microservices_Platform/config-repo"

export RABBITMQ_HOST="localhost"
export RABBITMQ_USER="guest"
export RABBITMQ_PASSWORD="guest"

export JWT_SECRET="YOUR_SECRET"